/* Appear on all pages */
ul.flashes { list-style-type: none; padding: 0; float: right; clear: right; }
ul.flashes li { display: inline-block; background-color: papayawhip; border: 1px solid #bbb; margin: 2px; padding: 2px; border-radius: 2px; }

div.user-info { float: right; clear: right; }

button.login-button { background-color: #DDD; border: 1px solid #BBB; padding: 2px 5px; margin: 0; }
button.login-button:hover { background-color: #EEE; cursor: pointer; }

p.hidden-doc { display: none; color: #666; }

label:hover p.hidden-doc { display: inline }

span.geordi-row { display: block }
