ul.flashes { list-style-type: none; padding: 0; float: right; clear: right; }
ul.flashes li { display: inline-block; background-color: papayawhip; border: 1px solid #bbb; margin: 2px; padding: 2px; border-radius: 2px; }

.user-info { float: right; clear: right; };
