/* Main element styling */
@font-face {
    font-family: 'Museo Sans';
    src: url('/static/fonts/museosans_500-webfont.eot');
    src: url('/static/fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/museosans_500-webfont.woff') format('woff'),
         url('/static/fonts/museosans_500-webfont.ttf') format('truetype'),
         url('/static/fonts/museosans_500-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Slab';
    src: url('/static/fonts/museo_slab_500-webfont.eot');
    src: url('/static/fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/museo_slab_500-webfont.woff') format('woff'),
         url('/static/fonts/museo_slab_500-webfont.ttf') format('truetype'),
         url('/static/fonts/museo_slab_500-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, input, select, button { font-family: 'Museo Sans', sans-serif; color: #111; }
input:disabled, button:disabled { color: #666 }
h1, h2, h3, h4 { font-family: 'Museo Slab', sans-serif; }
a  { color: #442C2C; }
a:visited  { color: #2C2C44; }
dl { margin: 0px; }
ul { margin-bottom: 0px; margin-top: 0px; }
dt::after { content: ': ' }
dt, dd { float: left; }
dt { clear: left; line-height: 20px; }
dd { line-height: 20px; padding-right: 3px; }
h1 { margin: 0 }
hr {
    margin: 0;
    color: #bbb;
    background-color: #bbb;
    border: 0px;
    padding: 1px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
     border-top: 1px solid #bbb;
     padding: 4px;
     text-align: left;
}

table tr:last-child td, table tr:last-child th {
    border-bottom: 1px solid #bbb;
}

.zebra tbody tr:nth-child(odd) td, .zebra tbody tr:nth-child(odd) th {
    background-color: #F9F9F9;
}

.zebra tbody tr:hover td, .zebra tbody tr:hover th {
    background-color: whitesmoke;
}


.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}

/* Main search/header styling */
select#id-index, select#id-itemtype { width: 200px }

.actions {
    min-width: 1095px;
}

.actions textarea { vertical-align: text-top; }

ul.flashes { list-style-type: none; padding: 0; float: right; clear: right; }
ul.flashes li { display: inline-block; background-color: papayawhip; border: 1px solid #bbb; margin: 2px; padding: 2px; border-radius: 2px; }

input#id-query, textarea#id-query {
    width: 60em;
}

div#id-query {
    display: inline-block;
}

div#id-query input, div#id-query select {
    width: 20em;
}

/* JSON pretty-printer */
li.closed { list-style-image: url('/static/images/closed.png') }
li.open { list-style-image: url('/static/images/open.png') }
div.li { margin-left: 10px }
i.icon {
    width: 7px;
    height: 7px;
    line-height: 20px;
    display: inline-block;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    vertical-align: baseline;
}
.closed > i.icon { background-image: url('/static/images/closed.png'); }
.open > i.icon { background-image: url('/static/images/open.png'); }

li.expander { clear: left; }
div.li:after, .expander:after, .clearfix:after { content: '.'; display: block; visibility: hidden; height: 0; clear: both; }

.plain-text { display: block; }
.expander > span.clicker { cursor: pointer; position: relative; color: #442C2C; text-decoration: underline; }
.expander > span.clicker:hover { background-color: #E1D0D0; }

/* Match Dialog */
.matcher {
    width: 600px;
    padding: 0px;
}

.match-type {
    padding-left: 20px;
    background-repeat: no-repeat;
}

.match-type.artist {
    background-image: url('/static/images/entity/artist.png');
}

.match-type.label {
    background-image: url('/static/images/entity/label.png');
}

.match-type.work {
    background-image: url('/static/images/entity/work.png');
}

.match-type.recording {
    background-image: url('/static/images/entity/recording.png');
}

.match-type.release {
    background-image: url('/static/images/entity/release.png');
}

.match-type.release-group {
    background-image: url('/static/images/entity/release-group.png');
}

.match-form textarea {
    height: 60px;
    width: 50%;
    vertical-align: text-top;
}

.unmatch-form {
    display: inline-block;
}

.error {
    background-color: red;
}
.loading {
    width: 50px;
    height: 50px;
    margin: auto;
    background-repeat: no-repeat;
    background-image: url('/static/images/loading.gif');
}

.item-linker-content { display:none; }
.subitem-linker-content { display:none; }

/* Modal Overlay */
#simplemodal-overlay { background-color:#000; }

/* Modal Container */
#simplemodal-container { height:360px; width:600px; background-color:#FFF; border:4px solid #000; padding:12px; }
#simplemodal-container a.modalCloseImg {background:url('/static/images/x.png') no-repeat; width:32px; height:32px; display:inline; z-index:3200; position:absolute; top:-18px; right:-18px; cursor:pointer; border: none; }

/* Document Page */
.section-links {
    float: right;
    margin-top: 1em;
}

.action-icon {
    display: inline-block;
    border-bottom: none;
    text-decoration: none;
}

.action-icon, .item-linker.verbose, .subitem-linker.verbose {
    padding: 0px 2px;
    border-radius: 2px;
}

.action-icon img, .item-linker.verbose img, .subitem-linker.verbose img {
    vertical-align: -2px;
    margin-top: 2px;
    height: 16px;
    width: 16px;
}

.item-linker.verbose, .subitem-linker.verbose {
    border: 1px solid #444;
    text-decoration: none;
    color: #000;
}

.item-linker.verbose:hover, .subitem-linker.verbose:hover {
    border-color: #666;
}

.item-linker.matched, .subitem-linker.matched {
    background-color: #4CBB17;
}

.item-linker.matched.auto, .subitem-linker.matched.auto {
    background-color: #FFDB58;
}

.mediumheader { padding: 0; }

/* Import Page */
#form-import input { width: 20em; }

#id-editnote { width: 100% }

fieldset { border: 1px solid #bbb }

.release-artist { display: inline-block; border: 1px solid #bbb; margin: 1px 3px; padding: 0 2px; }

.tracknumber, .tracklength { width: 5em }

/* Search Page */
ul.search-results {
    padding: 0px 5px;
}

.result {
    min-width: 1055px;
    display: block;
}

.result-box {
    border-top: 1px solid #bbb;
    padding: 2px 5px 2px 5px;
}

li:last-child .result-box {
    border-bottom: 1px solid #bbb;
}

li:nth-child(odd) .result-box {
    background-color: #f9f9f9;
}

.result-box:hover {
    background-color: whitesmoke;
}

.result-box .left {
    float: left;
}

.result-box .right {
    float: right;
}

.result-box small.left {
    clear: both;
}

/* Shared bits styling */
.match {
    border: 1px solid #bbb;
    padding: 0px 2px;
    display: inline-block;
}

.match.sparse {
    border: none;
}

.match img {
    vertical-align: -2px;
}
