{%- from "json_pp.html" import json_pp, expander_js -%}
{% extends "layout.html" %}
{% block title %}{{ data._index }} - {{ data._id }}{% endblock %}

{% block content %}
<p>
This is <code>{{ data._id }}</code> from the index <code>{{ data._index }}</code>.
</p>

<p>In the JSON Source view, alt-click will open and close full subtrees.</p>

{% if mapping %}
<h2>Extracted Information</h2>
<h3>Summary</h3>
<table class="zebra"><tbody>
    {% for title in mapping.release.title -%}
    <tr><th>Title{% if mapping.release.title | length > 1 %} (alternate){% endif %}:</th><td>{{ title }}</td></tr>
    {%- endfor %}
    <tr><th>Artist:</th>
        <td>{% for artist in mapping.release.artist -%}
              {%- if artist.subitem -%}
              <a class="subitem-opener" data-subitem="{{artist.subitem}}" href="#li-subitem-{{artist.subitem}}">{{artist.name}}</a>
              {%- else -%}{{artist.name}}{%- endif -%}
              {% if loop.revindex > 2 %}, {% elif loop.revindex == 2 %} and {% endif -%}
            {%- endfor %}{% if mapping.release.artist | length > 1 %} <small>({{mapping.release.artist | length}} artists)</small>{% endif -%}
    </td></tr>
    {% for date in mapping.release.date -%}
    <tr><th>Date{% if mapping.release.date | length > 1 %} (alternate){% endif %}:</th><td>{{ date }}</td></tr>
    {%- endfor %}
    <tr><th>Tracks:</th><td>{{ mapping.release.tracks | length }}</td></tr>
</tbody></table>
<h3>Tracklist</h3>
<table class="zebra">
<thead>
{%- set col = 5 -%}
<tr>
  {%- if mapoptions.mediums %}<th>Medium</th>{% set col = col + 1 %}{% endif -%}
  <th>#</th>
  {%- if mapoptions.totaltracks %}<th>Total</th>{% set col = col + 1 %}{% endif -%}
  <th>Title</th><th>Artist</th><th>Length</th>
  {%- if mapoptions.acoustid %}<th>AcoustID</th>{% set col = col + 1 %}{% endif -%}
  <th></th>
</tr>
</thead>
<tbody>
{%- set medium = none -%}
{%- for track in mapping.release.tracks -%}
{%- if track.medium | length == 1 and medium != track.medium[0] and not loop.first %}<tr><th class="mediumheader" colspan={{col}}><hr /></th></tr>{% endif -%}
{%- if track.medium | length == 1 %}{% set medium = track.medium[0] %}{% endif %}
<tr>
  {%- if mapoptions.mediums -%}
  <td>
    {%- for medium_number in track.medium %}{{ medium_number }}{% if not loop.last %}<br />{% endif %}{% endfor -%}
  </td>
  {%- endif -%}
  <td>
    {%- for tnum in track.number -%}{{ tnum }}{% if not loop.last %}/{% endif %}{% endfor -%}
  </td>
  {%- if mapoptions.totaltracks -%}
  <td>
    {%- for totaltracks in track.totaltracks %}{{ totaltracks }}{% if not loop.last %}<br />{% endif %}{% endfor -%}
  </td>
  {%- endif -%}
  <td>{% for title in track.title %}{{ title }}{% if not loop.last %}<br />{% endif %}{% endfor %}</td>
  <td>{% for artist in track.artist -%}
              {%- if artist.subitem -%}
              <a class="subitem-opener" data-subitem="{{artist.subitem}}" href="#li-subitem-{{artist.subitem}}">{{artist.name}}</a>
              {%- else -%}{{artist.name}}{%- endif -%}
              {% if loop.revindex > 2 %}, {% elif loop.revindex == 2 %} and {% endif -%}
            {%- endfor %}{% if track.artist | length > 1 %} <small>({{track.artist | length}} artists)</small>{% endif -%}
  </td>
  <td>{% for length in track.length_formatted %}{{ length }}{% if not loop.last %}<br />{% endif %}{% endfor %}</td>
  {%- if mapoptions.acoustid -%}
  <td>
    {%- for acoustid in track.acoustid %}<a href="https://acoustid.org/track/{{ acoustid }}">{{ acoustid[:4] }}…{{ acoustid[-4:]}}</a>{% if not loop.last %}<br />{% endif %}{% endfor -%}
  </td>
  {%- endif -%}
  <td>{% if track.subitem %} <small>(<a class="subitem-opener" data-subitem="{{ track.subitem }}" href="#li-subitem-{{ track.subitem }}">subitem</a>)</small>{% endif %}</td>
</tr>
{%- endfor -%}
</tbody></table>
{% endif %}

<h2>Link to MusicBrainz</h2>
<dl class="clearfix">
<dt>Whole Item</dt>
<dd>{{ current_match_span(data) }}
    <a class="item-linker" href="#">(link)</a>
    {{ linker_content('item-linker-content', 'item-linker-content', 'Link Item', none, 'item', data._id, data._index) }}
</dd>
{%- for (link_type_id, link_type) in g.link_types[data._index].iteritems() if not link_type_id == 'version' -%}
<dt>{{ link_type.name }}</dt>
<dd><ul id="ul-subitem-{{link_type_id}}">
{%- set link_id = link_type_id -%}
{%- for link in data._source._geordi.links.links[link_type_id] %}
  {%- set subitem_id = link_id | string + '-' + link[link_type.key] | string -%}
  <li style="clear:both" class="expander block-expander closed" id="li-subitem-{{ subitem_id }}"><span class="clicker"><code>[{{ link[link_type.key] }}]</code></span>
    {{ current_match_span(subitems[subitem_id]) }}
    <a class="subitem-linker" data-subitem="{{ subitem_id }}" href="#">(link)</a>
    {{ linker_content('subitem-linker-content', 'subitem-linker-content-' + subitem_id | string, 'Link subitem ' + subitem_id | string, link, 'subitem', subitem_id, data._index) }}
    <div class="li collapse">
    {{ json_pp(link, g.dictarray) }}
    </div>
  </li>
{% endfor -%}
</ul></dd>
{%- endfor -%}
</dl>

<h2>JSON Source</h2> <a href="#">show all</a>
<div>{{ json_pp(data._source, g.dictarray) }}</div>
{% endblock %}

{%- macro current_match_span(data) -%}
<span class="current-match">
    {%- if data and data._source._geordi.matchings and data._source._geordi.matchings.matchings | length > 0 %}
      {%- set topmatch = data._source._geordi.matchings.matchings[-1] -%}
      {{ topmatch.type }}
      {% for mbid in topmatch.mbid %}<a href="https://musicbrainz.org/{{ topmatch.type }}/{{ mbid }}">{{ mbid[:4] }}…{{ mbid[-4:] }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
      [{{ topmatch.user }}]
    {%- endif -%}
</span>
{%- endmacro -%}
{%- macro linker_content(class, id, title, json, type, item, index) -%}
<div id="{{ id }}" class="{{ class }}">
  <h3>{{ title }}</h3>
  <dl>{%- if json -%}
      <dt class="expander block-expander closed"><i class="icon"></i><span class="clicker">JSON</span></dt>
      <dd class="collapse">{{ json_pp(json, g.dictarray) }}</dd>
      {%- endif -%}
      <dt class="expander block-expander open"><i class="icon"></i><span class="clicker">Match</span></dt>
      <dd><div>
        <form class="match-form" id="match-{{type}}-{{item}}" action="/api/match{{type}}/{{ index }}/{{ item }}" method="get">
          <select name="type">
            <option>release</option>
            <option>release-group</option>
            <option>recording</option>
            <option>work</option>
            <option>artist</option>
            <option>label</option>
          </select>
          <input type="text" name="mbids" placeholder="MBIDs, comma separated" />
          <input type="submit" class="btn primary" value="Match" />
        </form>
        <div class="response"></p>
      </div></dd>
  </dl>
</div>
{%- endmacro -%}

{% block js %}
{{ expander_js() }}
<script src="/static/jquery/jquery.simplemodal.1.4.3.min.js"></script>
<script>geordi.current_index = '{{data._index}}';</script>
<script src="/static/scripts/matching.js"></script>
{% endblock %}
