{%- from "json_pp.html" import json_pp, expander_js -%}
{% extends "layout.html" %}
{% block title %}Import: {{ data._index }} - {{ data._id }}{% endblock %}

{% block js %}
<script>
  function jq( myid ) {
    return "#" + myid.replace( /(:|\.)/g, "\\$1" );
  }

  function exclusive($this) {
    var for_ids = $this.attr('data-for').split(',');
    $this.siblings('input').attr('disabled', 'disabled');
    $this.siblings('div.import-clicker').removeClass('selected');
    $.each(for_ids, function(i, id) { $(jq(id)).removeAttr('disabled'); });
    $this.addClass('selected');
  }

  function nonExclusive($this) {
    var for_ids = $this.attr('data-for').split(',');
    if ($this.hasClass('selected')) {
      $.each(for_ids, function(i, id) { $(jq(id)).attr('disabled', 'disabled'); });
      $this.removeClass('selected');
    } else {
      $.each(for_ids, function(i, id) { $(jq(id)).removeAttr('disabled'); });
      $this.addClass('selected');
    }

    $this.parent().children('div.import-clicker.selected').each(function (index) {
      correctName($(this), index);
    });
  }

  function correctName($this, index) {
      var for_ids = $this.attr('data-for').split(',');
      $.each(for_ids, function(i, id) {
        var $this = $(jq(id));
        var newName = $this.attr('data-template').replace(/{}/g, index);
        $this.attr('name', newName);
      });
  }

  $('.import-clicker').click(function() {
    var $this = $(this);
    if ($this.hasClass('exclusive')) {
      exclusive($this);
    } else {
      nonExclusive($this);
    }
  });
</script>
{% endblock %}

{% block content %}
<h2>Import to MusicBrainz</h2>
{% if mapping %}
  {% if 'release' in mapping %}
    <p>We've provided about as much information here as we can to get you started entering this as a release. Please review it as carefully as you can and then hit submit and you'll be directed to the release editor on MusicBrainz.</p>
    <form action="//musicbrainz.org/release/add" method="post" id="form-import">
      <fieldset><legend>Release Title:</legend>
        {%- if mapping.release.title | length > 1 -%}Select one: {% endif -%}
        {%- for title in mapping.release.title -%}
          <input type="hidden" name="name" id="id-name-{{ loop.index0 }}" value="{{ title }}"{% if not loop.first %}disabled="disabled" {% endif %}/>
          <div class="import-clicker release-title exclusive{% if loop.first %} selected{% endif %}" data-for="id-name-{{ loop.index0 }}">{{ title }}</div>
        {%- endfor -%}
        {%- if mapping.release.title | length == 0 -%}
          <input type="hidden" name="name" id="id-name-dummy" value="(placeholder title)"/>
          <div class="import-clicker release-title exclusive selected" data-for="id-name-dummy">(placeholder title)</div>
        {%- endif -%}
      </fieldset>
      <fieldset><legend>Release Date:</legend>
        {%- for date in mapping.release.date -%}
          {%- set dateparts = g.re.split('-', date) -%}
          <input type="hidden" name="date.year" id="id-date.year-{{loop.index0}}" value="{{ dateparts[0] }}" {% if not loop.first %}disabled="disabled" {% endif %}/>
          <input type="hidden" name="date.month" id="id-date.month-{{loop.index0}}" value="{{ dateparts[1] }}" {% if not loop.first %}disabled="disabled" {% endif %}/>
          <input type="hidden" name="date.day" id="id-date.day-{{loop.index0}}" value="{{ dateparts[2] }}" {% if not loop.first %}disabled="disabled" {% endif %}/>
          <div class="import-clicker exclusive{% if loop.first %} selected{% endif %}" data-for="id-date.year-{{loop.index0}},id-date.month-{{loop.index0}},id-date.day-{{loop.index0}}">{{ date }}</div>
        {%- endfor -%}
      </fieldset>
      <fieldset><legend>Release Artist:</legend>
        {%- set loopid = 0 -%}
        {%- for artist in mapping.release.artist -%}
          <div class="release-artist">
          {%- if artist.subitem and subitems[artist.subitem] and subitems[artist.subitem]._source._geordi.matchings.current_matching.type and subitems[artist.subitem]._source._geordi.matchings.current_matching.type == 'artist' -%}
            {%- for mbid in subitems[artist.subitem]._source._geordi.matchings.current_matching.mbid -%}
              <input name="artist_credit.names.{{loopid}}.name" value="{{artist.name}}" /><br />
              <input name="artist_credit.names.{{loopid}}.mbid" value="{{ mbid }}" />
              {%- if not loop.last -%}<input type="hidden" name="artist_credit.names.{{loopid}}.join_phrase" value=", " /><br />{%- set loopid = loopid + 1 -%}{%- endif -%}
            {%- endfor -%}
          {%- else -%}
            <input name="artist_credit.names.{{loopid}}.name" value="{{artist.name}}" />
          {%- endif -%}
          {%- if not loop.last -%}<input type="hidden" name="artist_credit.names.{{loopid}}.join_phrase" value=", " />{%- endif -%}
          {%- set loopid = loopid + 1 -%}
          </div>
        {%- endfor -%}
      </fieldset>
      <fieldset><legend>Label/Catalog Number</legend>
        {% if mapping.release.label | length > 0 and mapping.release.label[0].catalog_number %}
          {%- for label in mapping.release.label -%}
             {{ display_label(label, loop.index0) }}<br />
          {%- endfor -%}
        {%- else -%}
          {% if mapping.release.catalog_number | length == 1 %}
            {% set alt = mapping.release.catalog_number[0] %}
          {% else %}
            {% set alt = none %}
          {% endif %}
          {% if mapping.release.label | length == 1 %}
            {% set label = mapping.release.label[0] %}
          {% else %}
            {% set label = none %}
          {% endif %}
          {{ display_label(label, 0, alt) }}
        {%- endif -%}
      </fieldset>
      <fieldset><legend>Tracklist</legend>
        <table class="zebra">
        <thead>
        {%- set col = 5 -%}
        <tr>
          {%- if mapoptions.mediums %}<th>Medium</th>{% set col = col + 1 %}{% endif -%}
          <th>#</th>
          <th>Title</th><th>Artist</th><th>Length (ms)</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {%- set loopmedium = 0 -%}
        {%- set count = 0 -%}
        {%- for track in mapping.release.tracks -%}
          {%- if track.medium | length == 1 and medium != track.medium[0] | int and not loop.first %}<tr><th class="mediumheader" colspan={{col}}><hr /></th></tr>{% set loopmedium = loopmedium + 1 %}{% set count = 0 %}{% endif -%}
          {%- if track.medium | length == 1 %}{% set medium = track.medium[0] | int %}{% endif %}
          {%- set baseid = "mediums." + loopmedium | string + ".track." + count | string -%}
          {%- set count = count + 1 -%}
          <tr>
            {%- if mapoptions.mediums -%}
            <td>
              {%- for medium_number in track.medium %}{{ medium_number }}{% if not loop.last %}<br />{% endif %}{% endfor -%}
            </td>
           {%- endif -%}
            <td>
              {%- for number in track.number -%}
                <input type="hidden" name="{{baseid}}.number" id="id-{{baseid}}.number-{{ loop.index0 }}" value="{{ number }}"{% if not loop.first %}disabled="disabled" {% endif %}/>
                <div class="import-clicker exclusive{% if loop.first %} selected{% endif %}" data-for="id-{{baseid}}.number-{{ loop.index0 }}">{{ number }}</div>
              {%- endfor -%}
            </td>
            <td>
              {%- for title in track.title -%}
                <input type="hidden" name="{{baseid}}.name" id="id-{{baseid}}.name-{{ loop.index0 }}" value="{{ title }}"{% if not loop.first %}disabled="disabled" {% endif %}/>
                <div class="import-clicker exclusive{% if loop.first %} selected{% endif %}" data-for="id-{{baseid}}.name-{{ loop.index0 }}">{{ title }}</div>
              {%- endfor -%}
            </td>
            <td>
              {%- for artist in track.artist -%}
                <input type="hidden" name="{{baseid}}.artist_credit.names.{{loop.index0}}.name" id="id-{{baseid}}.artist_credit.names.name-{{loop.index0}}" data-template="{{baseid}}.artist_credit.names.{}.name" value="{{ artist.name }}" />
                {%- if artist.subitem and subitems[artist.subitem] and subitems[artist.subitem]._source._geordi.matchings.current_matching.type and subitems[artist.subitem]._source._geordi.matchings.current_matching.type == 'artist' -%}
                  {%- set mbids = subitems[artist.subitem]._source._geordi.matchings.current_matching.mbid -%}
                  <input type="hidden" name="{{baseid}}.artist_credit.names.{{loop.index0}}.mbid" id="id-{{baseid}}.artist_credit.names.mbid-{{loop.index0}}" data-template="{{baseid}}.artist_credit.names.{}.mbid" value="{{ mbids[0] }}" />
                {%- endif -%}
                <div class="import-clicker selected" data-for="id-{{baseid}}.artist_credit.names.name-{{ loop.index0 }},id-{{baseid}}.artist_credit.names.mbid-{{ loop.index0 }}">
                {%- if mbids and mbids | length > 1 -%}
                  <div class="action-icon">
                    <img src="/static/images/warning.png" title="This artist has more than one attached MBID, which is not currently supported. Only {{ mbids[0] }} will be passed to the Release Editor." />
                  </div>
                {%- endif %}
                  {{ artist.name }}
                </div>
              {%- endfor -%}
            </td>
            <td>
              {%- for length in track.length -%}
                <input type="hidden" name="{{baseid}}.length" id="id-{{baseid}}.length-{{ loop.index0 }}" value="{{ length }}"{% if not loop.first %}disabled="disabled" {% endif %}/>
                <div class="import-clicker exclusive{% if loop.first %} selected{% endif %}" data-for="id-{{baseid}}.length-{{ loop.index0 }}">{{ length }}</div>
              {%- endfor -%}
            </td>
          </tr>
        {%- endfor -%}
        </tbody>
        </table>
      </fieldset>
      <input type="hidden" name="edit_note" id="id-editnote" value="Imported using data from geordi: http://geordi.musicbrainz.org/{{ data._index }}/{{data._id}}" />
      <input type="submit" />
    </form>
  {% else %}
    <p>We're sorry, but only release importing is supported at this time.</p>
  {% endif %}
{% else %}
  <p>We're sorry, but this item doesn't have a mapping and thus can't be imported.</p>
{% endif %}
{% endblock %}

{%- macro display_label(label, loopid, alt_catno) -%}
  {%- if label -%}
    <input name="labels.{{ loopid }}.name" value="{{ label.name }}" />
  {%- else -%}
    <input name="labels.0.name" placeholder="Name" />
  {%- endif -%}

  {%- if label.catalog_number -%}
    <input name="labels.{{ loopid }}.catalog_number" value="{{ label.catalog_number }}" />
  {%- elif alt_catno -%}
    <input name="labels.{{ loopid }}.catalog_number" value="{{ alt_catno }}" />
  {%- else -%}
    <input placeholder="Catalog Number" name="labels.{{ loopid }}.catalog_number" />
  {%- endif -%}

  {%- if label.subitem and subitems[label.subitem] and subitems[label.subitem]._source._geordi.matchings.current_matching.type and subitems[label.subitem]._source._geordi.matchings.current_matching.type == 'label' -%}
    {%- for mbid in subitems[label.subitem]._source._geordi.matchings.current_matching.mbid -%}
    {%- if loop.first -%}<input name="labels.{{ loopid }}.mbid" value="{{ mbid }}" />{%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- endmacro -%}
