{%- macro json_pp(json_data, dictarray) -%}
    <dl>
    {%- for item in dictarray(json_data) recursive -%}
        {%- if item is mapping and item.keys() == ['k', 'v'] %}
            <dt class="expander block-expander closed"><i class="icon"></i> <span class="clicker">{{ item.k }}</span></dt>
            <dd class="collapse">{{ json_looper(item.v, loop, dictarray) }}</dd>
        {%- else %}
            <li class="expander block-expander closed" style="clear: left"><span class="clicker"><code>[{{ loop.index0 }}]</code></span>
                <div class="collapse li">{{ json_looper(item, loop, dictarray) }}</div>
            </li>
        {%- endif -%}
    {%- endfor -%}
    </dl>
{%- endmacro -%}

{%- macro json_looper(item, loop, dictarray) -%}
    {%- if item is mapping -%}
        <dl>{{ loop(dictarray(item)) }}</dl>
    {%- elif item is iterable and item is not string -%}
        <ul>{{ loop(item) }}</ul>
    {%- else -%} 
        <span class="plain-text">{{ item }}</span>
    {%- endif -%}
{%- endmacro -%}

{%- macro expander_js() -%}
<script src="/static/scripts/expander.js"></script>
{%- endmacro -%}
