<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- block head -%}
      <title>{% block title %}{% endblock %} - geordi</title>
    {%- endblock -%}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/geordi.css') }}">
    {%- block css %}{% endblock -%}
  </head>
  <body>
    <div id="container">
      <div id="header">
        {%- include "login.html" -%}
        {%- with messages = get_flashed_messages() -%}
          {%- if messages -%}
            <ul class="flashes">
              {%- for message in messages -%}
                <li>{{ message }}</li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        {%- endwith -%}
      </div>
    <div id="content">{% block content %}{% endblock %}</div>
    </div>
    {%- block js %}{% endblock -%}
  </body>
</html>
