<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>{% block title %}{% endblock %} - geordi</title>
    {% endblock %}
    {% block css %}{% endblock %}
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div id="content">{% block content %}{% endblock %}</div>
    {% block js %}{% endblock %}
  </body>
</html>
