{%- macro build_search_url(from_value) -%}
{{ url_with_search('search', query, from_value) }}
{%- endmacro -%}

{%- macro url_with_search(baseurl, query, from_value, index, item) -%}
{%- if from_value -%}
    {{ url_for(baseurl, from=from_value, query=query, type=request.args.get('type'), s=1, itemtype=request.args.getlist('itemtype'), index=request.args.getlist('index'), auto=request.args.get('auto'), un=request.args.get('un'), human=request.args.get('human'), all=request.args.get('all'), direct=request.args.get('direct'), user=request.args.getlist('user'), subitem_index=request.args.get('subitem_index'), subitem_type=request.args.get('subitem_type')) }}
{%- else -%}
    {{ url_for(baseurl, itemindex=index, item=item, query=query, type=request.args.get('type'), s=1, itemtype=request.args.getlist('itemtype'), index=request.args.getlist('index'), auto=request.args.get('auto'), un=request.args.get('un'), human=request.args.get('human'), all=request.args.get('all'), direct=request.args.get('direct'), user=request.args.getlist('user'), subitem_index=request.args.get('subitem_index'), subitem_type=request.args.get('subitem_type')) }}
{%- endif -%}
{%- endmacro -%}
{% extends "layout.html" %}
{% block title %}{% if query %}{{ query }} - Search{% else %}Search{% endif %}{% endblock %}

{% block content %}
{% if query %}

<p>
This is a search for <code>{{ query }}</code>
{%- if request.args.getlist('index') not in [[], ['']] %}
  in <code>{{ g.comma_only_list(request.args.getlist('index')) }}</code>
{%- endif -%}.
We found {{ data.hits.total }} results; starting at {{ start_from }}.
</p>

{% if not page_size %}{% set page_size = 10 %}{% endif %}
{%- if start_from | int > page_size - 1 -%}
  <a href="{{ build_search_url(0) }}">[&laquo;]</a><a href="{{ build_search_url(start_from | int - page_size) }}">[&lsaquo;]</a>
{%- endif -%}
{%- if start_from | int < (page_size * 10) -%}{% set start_page = 0 %}{%- else -%}{% set start_page = start_from | int - (page_size * 10) %}{%- endif -%}
{%- if data.hits.total | int > (start_from | int + (page_size * 10)) -%}{% set end_page = start_from | int + (page_size * 10) %}{%- else -%}{% set end_page = data.hits.total %}{%- endif -%}
{%- for page_start in range(start_page, end_page, page_size) -%}
  {%- if start_from | int == page_start -%}<b>{%- else -%}<a href="{{ build_search_url(page_start) }}">{%- endif -%}
  [{{ page_start // page_size + 1 }}]
  {%- if start_from | int == page_start -%}</b>{%- else -%}</a>{%- endif -%}
{%- endfor -%}
{%- if data.hits.total > start_from | int + page_size -%}
  <a href="{{ build_search_url(start_from | int + page_size) }}">[&rsaquo;]</a><a href="{{ build_search_url((data.hits.total // page_size) * page_size) }}">[&raquo;]</a>
{%- endif -%}

<ul class="search-results">
{% for result in data.hits.hits %}
<li class="result">
  <div class="clearfix result-box">
     {% if result._type == 'item' -%}
       <big class="left">
         {%- if mapping[loop.index0] and mapping[loop.index0].release -%}
         {{ mapping[loop.index0].release.title[0] }}
           {%- if mapping[loop.index0].release.combined_artist %} by {{ mapping[loop.index0].release.combined_artist }}{% endif %}
           {%- if mapping[loop.index0].release.date | length > 0 or mapping[loop.index0].release.country | length > 0 %} (
             {%- if mapping[loop.index0].release.date | length > 0 -%}{{ mapping[loop.index0].release.date[0] }}{%- endif -%}
             {%- if mapping[loop.index0].release.date | length > 0 and mapping[loop.index0].release.country | length > 0 %}, {% endif %}
             {%- if mapping[loop.index0].release.country | length > 0 -%}{{ mapping[loop.index0].release.country[0] }}{%- endif -%}
           ){% endif %}
           {%- if mapping[loop.index0].release.tracks | length > 0 %} ({{ mapping[loop.index0].release.tracks | length }} tracks){% endif %}
         {% endif -%}
       </big>
       {%- set link = url_with_search('document', query, none, result._index, result._id) -%}
     {%- elif result._type == 'subitem' -%}
       <big class="left"></big>
       <small class="left">
         {%- for (k, v) in result._source.iteritems() if k != '_geordi' -%}
               {{k}}: {% if v is iterable and v is not string %}{{ g.comma_list(v) }}{% else %}{{v}}{% endif %}{% if not loop.last %}; {% endif %}
         {%- endfor %}
       </small>
       {%- set link = '/?type=sub&subitem_index=' + result._index + '&subitem_type=' + mapping[loop.index0][0] + '&query=' + mapping[loop.index0][1] -%}
     {%- endif -%}
     <big class="right">({{ result._score }})</big>
     <small class="left">(<a href="{{ link }}">{{ result._index }}/{{ result._id }}</a>)</small>

     {%- if result._source._geordi and result._source._geordi.matchings.current_matching %}
       <small class="right">{{ match_span(result._source._geordi.matchings.current_matching, true) }}</small>
     {%- endif %}
  </div>
</li>
{% endfor %}
</ul>

{% endif %}
{% endblock %}
