{%- from "json_pp.html" import json_pp, expander_js -%}
{%- macro build_search_url(from_value) -%}
{{ url_for('search', from=from_value, query=query, type=request.args.get('type'), s=1, index=request.args.getlist('index'), auto=request.args.get('auto'), un=request.args.get('un'), human=request.args.get('human'), all=request.args.get('all'), direct=request.args.get('direct'), user=request.args.getlist('user')) }}
{%- endmacro -%}
{% extends "layout.html" %}
{% block title %}{% if query %}{{ query }} - Search{% else %}Search{% endif %}{% endblock %}

{% block content %}
{% if query %}

<p>
This is a search for <code>{{ query }}</code>
{%- if request.args.getlist('index') not in [[], ['']] %}
  in <code>{{ g.comma_only_list(request.args.getlist('index')) }}</code>
{%- endif -%}.
We found {{ data.hits.total }} results; starting at {{ start_from }}.
</p>

{%- if start_from | int > 9 -%}
  <a href="{{ build_search_url(0) }}">[&laquo;]</a>
  <a href="{{ build_search_url(start_from | int - 10) }}">[&lsaquo;]</a>
{%- endif -%}
{%- for page_start in range(0, data.hits.total, 10) -%}
  {%- if start_from | int == page_start -%}<b>{%- else -%}<a href="{{ build_search_url(page_start) }}">{%- endif -%}
  [{{ loop.index }}]
  {%- if start_from | int == page_start -%}</b>{%- else -%}</a>{%- endif -%}
{%- endfor -%}
{%- if data.hits.total > start_from | int + 10 -%}
  <a href="{{ build_search_url(start_from | int + 10) }}">[&rsaquo;]</a>
  <a href="{{ build_search_url((data.hits.total // 10) * 10) }}">[&raquo;]</a>
{%- endif -%}

<ul>
{% for result in data.hits.hits %}
<li style="clear: left" class="result">
  <span>
  {% if mapping[loop.index0] %}
     {% if mapping[loop.index0].release %}
     <big>{{ mapping[loop.index0].release.title[0] }}
       {%- if mapping[loop.index0].release.combined_artist %} by {{ mapping[loop.index0].release.combined_artist }}{% endif %}
       {%- if mapping[loop.index0].release.date | length > 0 %} ({{ mapping[loop.index0].release.date[0]}}){% endif %}
       {%- if mapping[loop.index0].release.tracks | length > 0 %} ({{ mapping[loop.index0].release.tracks | length }} tracks){% endif %}
     </big>
     {% endif %}
     <small>(<a href="/{{ result._index}}/{{ result._id }}">{{ result._index }}/{{ result._id }}</a>) ({{ result._score }})</small>
  {% else %}
     <big>{{ result._id }} ({{ result._index }}) <a href="/{{ result._index}}/{{ result._id }}">[info]</a></big> <small>({{ result._score }})</small>
  {% endif %}
  </span>
</li>
{% endfor %}
</ul>

{% endif %}
{% endblock %}
