body { font-family: sans-serif }
dl { margin: 0px; }
ul { margin-bottom: 0px; margin-top: 0px; }
dt::after { content: ': ' }
dt, dd { float: left; }
dt { clear: left; line-height: 20px; }
dd { line-height: 20px; }
li.closed { list-style-image: url('/static/images/closed.png') }
li.open { list-style-image: url('/static/images/open.png') }
div.li { margin-left: 10px }
i.icon {
    width: 7px;
    height: 7px;
    line-height: 20px;
    display: inline-block;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    vertical-align: baseline;
}
.closed > i.icon { background-image: url('/static/images/closed.png'); }
.open > i.icon { background-image: url('/static/images/open.png'); }

div.li:after, .expander:after, .clearfix:after { content: '.'; display: block; visibility: hidden; height: 0; clear: both; }

/* Placeholder border to prevent page moving, show proper cursor */
.plain-text { display: block; }
.expander > span.clicker { cursor: pointer; position: relative; }

/* Make things respond on hover*/
.expander > span.clicker:hover { background-color: #FF6EB4; }
li.block-expander.open:hover { background-color: #D1EEEE; }
.plain-text:hover { background-color: #90EE90; }

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}

select#id-index { width: 200px }

ul.flashes { list-style-type: none; padding: 0; float: right; }
ul.flashes li { display: inline-block; background-color: papayawhip; border: 1px solid gray; margin: 2px; padding: 2px; border-radius: 2px;}

h1 { margin: 0 }

table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
     border-top: 1px solid #DDD;
     padding: 4px;
     text-align: left;
}

.zebra tbody tr:nth-child(odd) td, .zebra tbody tr:nth-child(odd) th {
    background-color: #F9F9F9;
}

.zebra tbody tr:hover td, .zebra tbody tr:hover th {
    background-color: whitesmoke;
}
