DEBUG = False  # Won't matter with manager.py, use -d option to set false, defaults true

SECRET_KEY = 'seriously, change this'

OAUTH_CLIENT_ID = 'XXXXXXXXXXXXXXXXXXXXXX'
OAUTH_CLIENT_SECRET = 'XXXXXXXXXXXXXXXXXXXXXX'

# These settings have default values in base_settings.py, but can be overridden in this file.
#SQLALCHEMY_DATABASE_URI = 'postgresql://geordi:geordi@localhost:5432/geordi'
#TRUSTED_PROXIES = ['127.0.0.1']
#OAUTH_REDIRECT_URI = 'http://localhost:5000/oauth/callback'
