dl { margin: 0px; }
ul { margin-bottom: 0px; margin-top: 0px; }
dt::after { content: ': ' }
dt, dd { float: left; }
dt { clear: left }
dd { line-height: 20px; }
li.closed { list-style-image: url('/static/images/closed.png') }
li.open { list-style-image: url('/static/images/open.png') }
div.li { margin-left: 10px }
i.icon {
    width: 7px;
    height: 7px;
    line-height: 20px;
    display: inline-block;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    vertical-align: baseline;
}
.closed > i.icon { background-image: url('/static/images/closed.png'); }
.open > i.icon { background-image: url('/static/images/open.png'); }

div.li:after, .expander:after { content: '.'; display: block; visibility: hidden; height: 0; clear: both; }

/* Placeholder border to prevent page moving */
li.expander, .plain-text, .expander > span.clicker { border: 1px solid transparent; }

/* Make clickable expanders respond */
.expander > span.clicker { cursor: pointer; }
.expander > span.clicker:hover { border: 1px dotted red; }

/* Make groups/values respond on hover */
li.expander:hover { border: 1px dotted blue; }
.plain-text:hover { border: 1px dotted green; }

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}

