{%- macro expand_icon() -%}
<i class="icon-closed"></i>
{%- endmacro -%}

{%- macro json_pp(json_data) -%}
    <dl>
    {% for item in json_data.iteritems() recursive -%}
        {% if item[1] is defined and item[0] is defined %}
            <dt><span class="block-expander closed">{{ expand_icon() }} {{ item[0] }}</span></dt>
            <dd class="collapse">{{ json_looper(item[1], loop) }}</dd>
        {% else %}
            <li class="block-expander closed" style="clear: left"><span>[{{ loop.index0 }}]</span>
                <div class="collapse li">{{ json_looper(item, loop) }}</div>
            </li>
        {% endif %}
    {% endfor %}
    </dl>
{%- endmacro -%}

{%- macro json_looper(item, loop) -%}
    {%- if item is mapping -%}
        <dl>{{ loop(item.iteritems()) }}</dl>
    {%- elif item is iterable and item is not string -%}
        <ul>{{ loop(item) }}</ul>
    {%- else -%} 
        <span class="plain-text">{{ item }}</span>
    {%- endif -%}
{%- endmacro -%}

{%- macro expander_js() -%}
<script>
  function closeRegion($blockExpander) {
      $blockExpander
        .children('div.li').addClass('collapse').end()
        .parents('dt').next('dd').addClass('collapse'); 
      toggleBits($blockExpander);
  }

  function openRegion($blockExpander) {
      $blockExpander
        .children('div.li').removeClass('collapse').end()
        .parents('dt').next('dd').removeClass('collapse'); 
      toggleBits($blockExpander);
  }

  function toggleBits($base) {
      $base.toggleClass('closed open').children('i').toggleClass('icon-closed icon-open');
  }

  $('li').click(function() {
    $(this).children('.block-expander').click();
  });

  $('.plain-text').click(function(event) { event.stopPropagation(); });

  $('.block-expander').click(function(event) {
    event.stopPropagation();
    $this = $(this);
    if ($this.hasClass('closed')) {
        openRegion($this);
        if (event.altKey) {
            $this.children('div.li')
              .add($this.parents('dt').next('dd'))
              .find('.block-expander.closed').each(function() { openRegion($(this)) });
        }
    } else {
        closeRegion($this);
        if (event.altKey) {
            $this.children('div.li')
              .add($this.parents('dt').next('dd'))
              .find('.block-expander.open').each(function() { closeRegion($(this)) });
        }
    }
  });
</script>
{%- endmacro -%}
