<!doctype html>
<html>
    <head>
       {% block head %}
           <title>{% block title %}{% endblock %} - ingestr</title>
           <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
           <style type="text/css">
               ul.list li { border: 1px solid #BB8888; padding: 4px;}
               dl { margin: 0px; padding: 4px; border: 1px solid #8888BB; }
               dt::after { content: ': ' }
           </style>
       {% endblock %}
    </head>
    <body>
        <div class="container">
          <div class="content">
            <h1>Ingestr</h1>
            <form action="/" method="get">
              <div class="clearfix">
                <label for="id-query">Query:</label>
                <div class="input">
                  <input type="text" name="query" id="id-query" />
                </div>
              </div>
              <div class="actions">
                <input type="submit" class="btn primary" value="Search" />
              </div>
            </form>
            {% block content %}{% endblock %}
          </div>
    </div>
    <script src="/static/jquery/jquery-1.8.2.min.js"></script>
    {% block js %}{% endblock %}
    </body>
</html>
