{% extends "layout.html" %}
{% block title %}{% if query %}{{ query }} - Search{% else %}Search{% endif %}{% endblock %}

{% macro expand_icon() %}
<i class="icon-resize-full"></i>
{% endmacro %}

{% macro json_looper(item, loop) %}
    {%- if item is mapping -%}
        <dl class="dict">{{ loop(item.iteritems()) }} </dl>
    {%- elif item is iterable and item is not string -%}
        <ul class="list">{{ loop(item) }}</ul>
    {%- else -%} 
        {{ item }}
    {%- endif -%}
{% endmacro %}

{% block content %}
{% if query %}
<p>
This is a search for <code>{{ query }}</code>.
</p>
<ul>
{% for result in data.hits.hits %}
<li class="result">
  <h4><a href="/{{ result._index}}/{{ result._id }}">{{ result._index }} - {{ result._id }}</a></h4>
  <button class="btn json-expander">{{ expand_icon() }} Raw JSON</button>
  <div class="raw collapse">
    <dl class="dict">
    {% for item in result.iteritems() recursive %}
        {% if item[1] is defined and item[0] is defined %}
            <dt><button class="btn block-expander">{{ expand_icon() }} {{ item[0] }}</button></dt>
            
            <dd class="collapse">
            {{ json_looper(item[1], loop) }}
            </dd>
        {% else %}
            <li><button class="btn block-expander">{{ expand_icon() }}</button><div class="collapse list-item">
            {{ json_looper(item, loop) }}
            </div></li>
        {% endif %}
    {% endfor %}
    </dl>
  </div>
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block js %}
<script>
  $('button.json-expander').click(function() {
    $(this).find('i').toggleClass('icon-resize-full icon-resize-small'); 
    $(this).closest('li.result').find('div.raw').toggleClass('collapse');
  });
  $('.block-expander').click(function() {
    $(this).find('i').toggleClass('icon-resize-full icon-resize-small');
    $(this).next('div.list-item').toggleClass('collapse');
    $(this).parents('dt').next('dd').toggleClass('collapse');
  });
</script>
{% endblock %}
