{% extends "layout.html" %}
{% block title %}{% if query %}{{ query }} - Search{% else %}Search{% endif %}{% endblock %}

{% block content %}
{% if query %}
<p>
This is a search for <code>{{ query }}</code>.
</p>
{% for result in data.hits.hits %}
<h3><a href="/{{ result._index}}/{{ result._id }}">{{ result._index }} - {{ result._id }}</a></h3>
<i style="float: right" class="icon-resize-full" data-toggle="collapse" data-target="#pre-{{ result._index }}-{{ result._id }}"></i>
<pre class="collapse" id="pre-{{ result._index }}-{{ result._id }}">
{{ json.dumps(result, indent=1) }}
</pre>
{% endfor %}
{% endif %}
{% endblock %}

{% block js %}
  <script>$('i').click(function(){ $(this).toggleClass('icon-resize-full icon-resize-small') });</script>
{% endblock %}
