{% extends "layout.html" %}
{% block title %}{% if query %}{{ query }} - Search{% else %}Search{% endif %}{% endblock %}

{% block content %}
{% if query %}
<p>
This is a search for <code>{{ query }}</code>. In the JSON Source view, alt-click will open and close full subtrees.
</p>
<ul>
{% for result in data.hits.hits %}
<li style="clear: left" class="result json-expander closed">
  <h4>{{ result._index }} / {{ result._id }} <a href="/{{ result._index}}/{{ result._id }}">[info]</a></h4>
  <div class="raw collapse">{{ json_pp(result._source) }}</div>
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block js %}
{{ expander_js() }}
<script>
  $('li.json-expander').click(function(event) {
    $this = $(this);
    $this.toggleClass('closed open')
         // .find('i').toggleClass('icon-open icon-closed').end()
         .find('div.raw').toggleClass('collapse');
  });
</script>
{% endblock %}
