{%- from "json_pp.html" import json_pp, expander_js -%}
{% extends "layout.html" %}
{% block title %}{{ data._index }} - {{ data._id }}{% endblock %}

{% block content %}
<p>
This is <code>{{ data._id }}</code> from the index <code>{{ data._index }}</code>.
</p>

<p>In the JSON Source view, alt-click will open and close full subtrees.</p>

{% if mapping %}
<h2>Extracted Information</h2>
<h3>Summary</h3>
<table class="zebra"><tbody>
    {% for title in mapping.release.title -%}
    <tr><th>Title{% if mapping.release.title | length > 1 %} (alternate){% endif %}:</th><td>{{ title }}</td></tr>
    {%- endfor %}
    <tr><th>Artist:</th><td>{{ mapping.release.combined_artist }}{% if mapping.release.artist | length > 1 %} <small>({{mapping.release.artist | length}} artists)</small>{% endif %}</td></tr>
    {% for date in mapping.release.date -%}
    <tr><th>Date{% if mapping.release.date | length > 1 %} (alternate){% endif %}:</th><td>{{ date }}</td></tr>
    {%- endfor %}
    <tr><th>Tracks:</th><td>{{ mapping.release.tracks | length }}</td></tr>
</tbody></table>
<h3>Tracklist</h3>
<table class="zebra">
<thead>
{%- set col = 5 -%}
<tr>
  {%- if mapoptions.mediums %}<th>Medium</th>{% set col = col + 1 %}{% endif -%}
  <th>#</th>
  {%- if mapoptions.totaltracks %}<th>Total</th>{% set col = col + 1 %}{% endif -%}
  <th>Title</th><th>Artist</th><th>Length</th>
  {%- if mapoptions.acoustid %}<th>AcoustID</th>{% set col = col + 1 %}{% endif -%}
  <th></th>
</tr>
</thead>
<tbody>
{%- set medium = none -%}
{%- for track in mapping.release.tracks -%}
{%- if track.medium | length == 1 and medium != track.medium[0] and not loop.first %}<tr><th class="mediumheader" colspan={{col}}><hr /></th></tr>{% endif -%}
{%- if track.medium | length == 1 %}{% set medium = track.medium[0] %}{% endif %}
<tr>
  {%- if mapoptions.mediums -%}
  <td>
    {%- for medium_number in track.medium %}{{ medium_number }}{% if not loop.last %}<br />{% endif %}{% endfor -%}
  </td>
  {%- endif -%}
  <td>
    {%- for tnum in track.number -%}{{ tnum }}{% if not loop.last %}/{% endif %}{% endfor -%}
  </td>
  {%- if mapoptions.totaltracks -%}
  <td>
    {%- for totaltracks in track.totaltracks %}{{ totaltracks }}{% if not loop.last %}<br />{% endif %}{% endfor -%}
  </td>
  {%- endif -%}
  <td>{% for title in track.title %}{{ title }}{% if not loop.last %}<br />{% endif %}{% endfor %}</td>
  <td>{% for artist in track.artist %}{{ artist }}{% if not loop.last %}<br />{% endif %}{% endfor %}</td>
  <td>{% for length in track.length_formatted %}{{ length }}{% if not loop.last %}<br />{% endif %}{% endfor %}</td>
  {%- if mapoptions.acoustid -%}
  <td>
    {%- for acoustid in track.acoustid %}<a href="https://acoustid.org/track/{{ acoustid }}">{{ acoustid[:4] }}…{{ acoustid[-4:]}}</a>{% if not loop.last %}<br />{% endif %}{% endfor -%}
  </td>
  {%- endif -%}
  <td>{% if track.subitem %} <small>(<a href="#li-subitem-{{ track.subitem }}">subitem</a>)</small>{% endif %}</td>
</tr>
{%- endfor -%}
</tbody></table>
{# <pre>{{ g.json.dumps(mapping, indent=2) }}</pre> #}
{% endif %}

<h2>Link to MusicBrainz</h2>
<dl class="clearfix">
{%- for link_type in link_types -%}
<dt>{{ link_type.name }}</dt>
<dd><ul id="ul-subitem-{{loop.index0}}">
{%- set link_id = loop.index0 -%}
{%- for link in data._source._ingestr.links[loop.index0] %}
  <li style="clear:both" id="li-subitem-{{link_id}}-{{link[link_type.key]}}">[{{ loop.index0 }}]<dl class="clearfix" id="dl-subitem-{{link_id}}-{{link[link_type.key]}}">
    {%- for entry in link.iteritems() %}
    <dt>{{ entry[0] }}</dt>
    <dd>{{ entry[1] }}</dd>
    {% endfor -%}
  </dl></li>
{% endfor -%}
</ul></dd>
{%- endfor -%}
</dl>

<h2>JSON Source</h2> <a href="#">show all</a>
<div>{{ json_pp(data._source, g.dictarray) }}</div>

{% endblock %}

{% block js %}
{{ expander_js() }}
{% endblock %}
