{%- macro json_pp(json_data) -%}
    <dl>
    {% for item in json_data.iteritems() recursive -%}
        {% if item[1] is defined and item[0] is defined %}
            <dt class="expander block-expander closed"><i class="icon"></i> <span class="clicker">{{ item[0] }}</span></dt>
            <dd class="collapse">{{ json_looper(item[1], loop) }}</dd>
        {% else %}
            <li class="expander block-expander closed" style="clear: left"><span class="clicker">[{{ loop.index0 }}]</span>
                <img class="edit-icon" src="/static/images/pencil.png" />
                <div class="collapse li">{{ json_looper(item, loop) }}</div>
            </li>
        {% endif %}
    {% endfor %}
    </dl>
{%- endmacro -%}

{%- macro json_looper(item, loop) -%}
    {%- if item is mapping -%}
        <dl>{{ loop(item.iteritems()) }}</dl>
    {%- elif item is iterable and item is not string -%}
        <ul>{{ loop(item) }}</ul>
    {%- else -%} 
        <span class="plain-text"><img class="edit-icon" src="/static/images/pencil.png" />
{{ item }}</span>
    {%- endif -%}
{%- endmacro -%}

{%- macro expander_js() -%}
<script>
  function changeRegion($region) {
    $region.children('div.li').add($region.next('dd'))
              [$region.hasClass('closed') ? 'removeClass' : 'addClass']('collapse')
           .end().end()

           .toggleClass('closed open');
  }

  $('.block-expander span.clicker').click(function(event) {
    event.stopPropagation();
    var $this = $(this).parent('.block-expander');
    changeRegion($this);
    if (event.altKey) {
        $this.children('div.li').add($this.next('dd'))
             .find('.block-expander.' + ($this.hasClass('open') ? 'closed' : 'open'))
             .each(function() { changeRegion($(this)) });
    }
  });
</script>
{%- endmacro -%}
