{% extends "layout-basic.html" %}

{% block furtherlayout %}
  <form action="/" method="get">
    <div class="actions">
      <input type="text" name="query" id="id-query" placeholder="Query" />
      <input type="submit" class="btn primary" value="Search" />
    </div>
    <div class="filters">
      <input type="checkbox" name="human" id="id-human" /> <label for="id-human">Show human-matched items</label>
      <input type="checkbox" name="auto" id="id-auto" checked /> <label for="id-auto">Show auto-matched items</label>
      <input type="checkbox" name="un" id="id-un" checked /> <label for="id-un">Show unmatched items</label>
      <input type="checkbox" name="all" id="id-all" /> <label for="id-all">Consider all matches (not just the most recent)</label>
      <input type="checkbox" name="direct" id="id-direct" /> <label for="id-direct">Show only direct links</label>
    </div>
    <div class="filters">
      <label for="id-index">Index</label>: <select multiple name="index" id="id-index">
      {% for index in all_indices %}
          <option>{{ index }}</option>
      {% endfor %}</select>
    </div>
    <div class="filters">
      User: <input type="text" name="user" />
    </div>
    <p class="filter-preview"></p>
  </form>
  {% if current_user.id %}
    <p>Currently logged in as <code>{{ current_user.id }}</code> <a href="/logout">(log out)</a></p>
  {% else %}
    <p>Not logged in. <a href="/login">(log in)</a></p>
  {% endif %}
{% endblock %}
