<!doctype html>
<html>
    <head>
       {% block head %}
           <title>{% block title %}{% endblock %} - ingestr</title>
           <link rel="stylesheet" href="/static/styles/main.css">
       {% endblock %}
    </head>
    <body>
        <div class="container">
          <div class="content">
            <h1>Ingestr</h1>
            <form action="/" method="get">
              <div class="actions">
                <input type="text" name="query" id="id-query" placeholder="Query" />
                <input type="submit" class="btn primary" value="Search" />
              </div>
              <div class="filters">
                <input type="checkbox" name="human" id="id-human" /> <label for="id-human">Show human-matched items</label>
                <input type="checkbox" name="auto" id="id-auto" checked /> <label for="id-auto">Show auto-matched items</label>
                <input type="checkbox" name="un" id="id-un" checked /> <label for="id-un">Show unmatched items</label>
                <input type="checkbox" name="direct" id="id-direct" /> <label for="id-direct">Show only direct links</label>
              </div>
              <p class="filter-preview"></p>
            </form>
            {% block content %}{% endblock %}
          </div>
    </div>
    <script src="/static/jquery/jquery-1.8.2.min.js"></script>
    {% block js %}{% endblock %}
    </body>
</html>
