{%- from "json_pp.html" import json_pp, expander_js -%}
{%- macro build_search_url(from_value) -%}
{{ url_for('search', from=from_value, query=query, s=1, index=request.args.getlist('index'), auto=request.args.get('auto'), un=request.args.get('un'), human=request.args.get('human'), all=request.args.get('all'), direct=request.args.get('direct'), user=request.args.getlist('user')) }}
{%- endmacro -%}
{% extends "layout.html" %}
{% block title %}{% if query %}{{ query }} - Search{% else %}Search{% endif %}{% endblock %}

{% block content %}
{% if query %}

<p>
This is a search for <code>{{ query }}</code>
{%- if request.args.getlist('index') not in [[], ['']] %}
  in
  <code>{%- for index in request.args.getlist('index') -%}
          {{ index }}{%- if not loop.last -%}, {% endif -%}
        {%- endfor -%}
  </code>
{%- endif -%}.
We found {{ data.hits.total }} results; starting at {{ start_from }}.
</p>

{%- if start_from | int > 9 -%}
  <a href="{{ build_search_url(0) }}">[&laquo;]</a>
  <a href="{{ build_search_url(start_from | int - 10) }}">[&lsaquo;]</a>
{%- endif -%}
{%- for page_start in range(0, data.hits.total, 10) -%}
  {%- if start_from | int == page_start -%}<b>{%- else -%}<a href="{{ build_search_url(page_start) }}">{%- endif -%}
  [{{ loop.index }}]
  {%- if start_from | int == page_start -%}</b>{%- else -%}</a>{%- endif -%}
{%- endfor -%}
{%- if data.hits.total > start_from | int + 10 -%}
  <a href="{{ build_search_url(start_from | int + 10) }}">[&rsaquo;]</a>
  <a href="{{ build_search_url((data.hits.total // 10) * 10) }}">[&raquo;]</a>
{%- endif -%}

<p>In the JSON Source view, alt-click will open and close full subtrees.</p>

<ul>
{% for result in data.hits.hits %}
<li style="clear: left" class="result expander json-expander closed">
  <span class="clicker">
  {% if mapping[loop.index0] %}
     <big>{{ mapping[loop.index0].release.title }} by {{ mapping[loop.index0].release.artist }}</big> <small>(<a href="/{{ result._index}}/{{ result._id }}">{{ result._index }}/{{ result._id }}</a>) ({{ result._score }})</small>
  {% else %}
     <big>{{ result._id }} ({{ result._index }}) <a href="/{{ result._index}}/{{ result._id }}">[info]</a></big> <small>({{ result._score }})</small>
  {% endif %}
  </span>
  <div class="raw collapse">{{ json_pp(result._source) }}</div>
</li>
{% endfor %}
</ul>

{% endif %}
{% endblock %}

{% block js %}
{{ expander_js() }}
<script>
  $('li.json-expander > span.clicker').click(function(event) {
    if (event.target.nodeName != 'A') {
      $this = $(this).closest('.json-expander');
      $this.toggleClass('closed open')
         .find('div.raw').toggleClass('collapse');
    }
  });
</script>
{% endblock %}
